.grid-container {
  display: grid;
  grid-template-columns: 24vw 12vw 12vw 12vw 12vw 12vw;
  grid-gap: 0 0;
} 
.item, .grid-title, .grid-header, .question{
  background-color: var(--elem-bg-color);
  border: 1px solid var(--border-color);
  padding: 5px;
  font-size: 14pt;
  text-align: center;
}
.grid-title {
  font-size: 24pt !important;
}
.grid-header {
  font-size: 16pt !important;
}
.question {
  text-align: left;
}
.item {
  background-color: var(--background-color);
  padding-left: 4.9vw;
  padding-top: 5px;
}
.container {
  text-align: center;
  padding-left: 5vw;
}
.d2 { background-color: #e77 }
.d1 { background-color: #ebb }
.a1 { background-color: #beb }
.a2 { background-color: #7e7 }
.container .checkmark:after {
	background: #222;
}
