@import url('https://fonts.googleapis.com/css?family=Cousine|Open+Sans');

* {
  font-family: 'Open Sans', Helvetica, sans-serif;
  font-size: 13pt;
}

h1 {
  font-size: 22pt;
}

body {
  margin: 1em;
  padding: 0;
}

select, input[type="text"], input[type="button"] {
  border: 1px solid #AAA;
  font-size: 16pt;
  border-radius: 5px;
  outline: none;
  padding-left: 2px;
  padding-right: 2px;
  padding-top: 1px;
  padding-bottom: 1px;
}

input[type="text"] {
  width: 15ch;
  text-align: right;
}

.big {
  font-size: 18pt;
  color: #555;
}

input[type="button"] {
  background-color: #FFF;
  transition: 0.2s ease;
  font-size: 15pt;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 4px;
  padding-bottom: 4px;
}

input[type="button"]:active {
  background-color: #DDDDDD;
}

input[type="button"]:hover {
  background-color: #EEEEEE;
  transition: 0.2s ease;
}
