@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
    --bg-color: #14171d;
    --fg-color: #c7c6c3;
    --accent1: #789ebf;
    --accent2: #97bd5e;
    --link: #a97fb3;
    --link-hover: #82bfb3;
    --link-active: #578c7c;
    --button: #2c2b3b;
    --button-hover: #4d4754;
    --button-active: var(--link-active);
}

body {
    background: var(--bg-color);
    color: var(--fg-color);
    padding: 20px;
    font-family: "Roboto Mono", monospace;
    font-size: 17px;
    font-weight: 400;
    line-height: 22px;
    margin: 0 auto;
    max-width: 960px;
}

body > * {
    margin-bottom: 0px;
    margin-top: 7px;
}

h1 {
    font-size: 28px;
    font-weight: 700;
    color: var(--accent1);
    margin-top: 28px;
    margin-bottom: 20px;
}

h2 {
    font-size: 23px;
    font-weight: 700;
    color: var(--accent2);
    margin-top: 23px;
}

a { text-decoration: none; }

a:link { color: var(--link); }

a:visited { color: var(--link); }

a:focus { border-bottom: 1px solid; }

a:hover { color: var(--link-hover); border-bottom: 1px solid; }

a:active { color: var(--link-active); }

a[target="_blank"] {
    background-image: url(/external_link.svg);
    background-position: center right;
    background-repeat: no-repeat;
    padding-right: 16px;
}

input, button, textarea, select {
    background: var(--color-bg);
    color: var(--color-fg);
    border: 1px solid var(--accent1);
    border-radius: 1px;
    font-family: "Roboto Mono", monospace;
    font-size: 14px;
    padding: 2px 5px 2px 5px;
}

input[type=button], button, select {
    background: var(--button);
}

input[type=button]:hover, button:hover, select:hover {
    background: var(--button-hover);
}

input[type=button]:active, button:active, select:active {
    background: var(--button-active);
}

input:disabled, button:disabled, textarea:disabled, select:disabled {
    background: var(--button);
    color: var(--button-hover);
}

table {
  border-collapse: collapse;
  background-color: var(--bg-color);
}
td, th {
  border: 1px solid var(--button-hover);
  padding: 8px;
  vertical-align: top;
}
th {
  padding: 10px;
  text-align: center;
  background-color: var(--bg-color);
}
