.tab {
  overflow: hidden;
  border: 1px solid #BBB;
  background-color: #EEE;
  border-radius: 4px 4px 0px 0px;
}
.tabbutton {
  background-color: inherit;
  border-radius: 0px;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.2s ease;
  font-size: 13pt;
}
.tabbutton:hover {
  background-color: #DDD;
}
.tabbutton[active=true]{
  background-color: #CCC;
}
.content {
  display: none;
  padding: 16px;
  border: 1px solid #BBB;
  border-top: none;
  border-radius: 0px 0px 4px 4px;
}
input[type="text"] {
  font-size: 13pt;
  width: 18ch;
  display: block;
}
