* {
  line-height: 1.2;
}

input[type="color"] {
	opacity: 0;
	display: block;
	width: 32px;
	height: 32px;
	border: none;
}
.wrapper {
	float: left;
  border: 2px solid var(--thick-border-color);
  border-radius: 4px;
  transition: 0.05s ease;
}
.wrapper:active {
	float: left;
  border: 2px solid var(--border-color);
  border-radius: 4px;
  transition: 0.05s ease;
}
