* {
  line-height: 1.2;
}

input[type="color"] {
	opacity: 0;
	display: block;
	width: 32px;
	height: 32px;
	border: none;
}
.wrapper {
	float: left;
  border: 2px solid #000;
  border-radius: 4px;
  transition: 0.2s ease;
}
.wrapper:active {
	float: left;
  border: 2px solid #66C;
  border-radius: 4px;
  transition: 0.2s ease;
}
