.linedtextarea textarea, .linedwrap .codelines .lineno {
  font-size: 12pt;
  font-family: 'Cousine', 'Consolas', monospace
}
.linedwrap .codelines .lineno {
	color:#999999;
}
.linedwrap .lines {
  border-right: 1px solid #AAAAAA;
}
.linedwrap {
  border: 1px solid #AAAAAA;
  border-radius: 5px;
  float: left;
}
.lined:focus {
  outline: none;
  border: none;
}
.roundbutton {
  border-radius: 100px;
}
.roundbutton.active {
  background-color: #DDDDDD;
}
.side {
  padding-left: 10px;
  float: left;
}
div.lineno.lineselect {
  color: #FF0000 !important;
  font-weight: bold !important;
}
.hidezero {
  color: #D8CC11;
  display: none;
}
