@import url('https://fonts.googleapis.com/css?family=Vollkorn|PT+Serif');

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  margin-bottom: 8px;
  line-height: 1.5;
}

body {
  font-family: "PT Serif";
  font-size: 14pt;
  background-color: #eee;
  margin-top: 0;
}

p {
  text-indent: 50px;
}

.main-wrapper {
  margin-left: 25vw;
  margin-right: 25vw;
  margin-top: 0;
  background-color: #fff;
  padding: 30px 50px;
}

@media screen and (max-width: 1200px) and (min-width: 600px) {
  .main-wrapper {
    margin-left: calc(50% - 300px);
    margin-right: calc(50% - 300px);
  }
}

@media screen and (max-width: 600px) {
  .main-wrapper {
    margin-left: 10px;
    margin-right: 10px;
  }
}

h1 {
  font-family: "PT Serif";
  font-weight: 600;
  font-size: 22pt;
  text-align: center;
  padding-bottom: 30px;
}

h2 {
  font-family: "Vollkorn";
  font-weight: 500;
  font-size: 18pt;
  border-bottom: 1.5px solid gray;
  text-align: center;
  margin-left: 20%;
  margin-right: 20%;
}

blockquote {
  font-family: "Vollkorn";
  padding: 0 20px;
  margin-left: 0px;
  border-left: 2px solid gray;
}

.meta {
  color: #aaa;
  text-align: center;
  font-size: 12pt;
}

a + .meta {
  padding-left: 20px;
}

.meta + .meta {
  padding-left: 20px;
}

.footer {
  padding-top: 50px;
  color: #aaa;
  text-align: center;
  font-size: 12pt;
}

sup {
  vertical-align: super;
  font-size: smaller;
}

sub {
  vertical-align: sub;
  font-size: smaller;
}

.links {
  color: #444;
  text-align: center;
}

.links + .links {
  padding-left: 3vw;
}

.red {
  color: #833;
}

math {
  font-family: "Baskerville", "Computer Modern", "Times New Roman";
}

.edit::before {
  content: "✩ "
}
