body {
  margin: 1%;
  margin-left: 2%;
  margin-right: 40%;
  padding: 0;
  font-family: Helvetica, Arial, sans-serif;
  align: center;
  font-size: 13pt;
}
h1 {
  font-size: 28pt;
  color: #124;
  border-color: #CCC;
  border-style: none none solid none;
}
button {
  font-size: 13pt;
  color: white;
  background-color: #291;
  border: 1px solid #CCC;
  padding: 10px;
  font-weight: bold;
}
textarea {
  font-family: sans-serif;
  font-size: 13pt;
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  display: inline-block;
  border: 1.2px solid #CCC;
  border-radius: 4px;
  box-sizing: border-box;
}
#results {
  font-family: Helvetica, Arial, sans-serif;
  border-collapse: collapse;
  background-color: #EEE;
  width: 90%;
}
#results td, #results th {
  border: 1px solid #CCC;
  padding: 8px;
  vertical-align: top;
}
#results th {
  padding: 12px;
  text-align: center;
  background-color: #36C;
  color: white;
}
